# === Node / React ===
node_modules
build
dist
*.log





# === Docker ===
.dockerignore
Dockerfile
docker-compose.yml
*.Dockerfile

# === Git ===
.git
.gitignore



# === OS / Editor Files ===
.DS_Store
Thumbs.db
.vscode/
.idea/

# === Cache ===
.cache/
.npm/
pip-cache/
pytest_cache/

# === Uploads / Runtime Data ===
uploads/
logs/

# === Tests ===
tests/
coverage/

# === Project-specific ===
mysql/
qdrant_data/
db_data/
